PORT=5000
MONGODB_URI=[https://mongodb+srv://adityachavan0122_db_user:Aditya122@cluster0.5basxoq.mongodb.net/?appName=Cluster0](https://mongodb+srv://adityachavan0122_db_user:<db_password>@cluster0.5basxoq.mongodb.net/?appName=Cluster0)
JWT_SECRET=internmatch_jwt_super_secret_key_2026_key
CLOUDINARY_CLOUD_NAME=k8dqcnhs
CLOUDINARY_API_KEY=936871116739282
CLOUDINARY_API_SECRET=v1GFIbpySv_jjdCfdM0mOgNLPv4
CLIENT_URL=http://localhost:3000
